asgiref==3.8.1
awscli==1.35.1
boto3==1.35.34
botocore==1.35.35
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.1
Django==5.0.6
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-storages==1.14.4
docutils==0.16
gunicorn==23.0.0
jmespath==1.0.1
joblib==1.4.2
nltk==3.8.1
packaging==24.1
pillow==10.4.0
pyasn1==0.6.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2024.5.15
rsa==4.7.2
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.0
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.3